In [ ]:
# Pandas is a powerful, open-source Python library used for data manipulation, cleaning, and analysis. It provides two main data structures:

# Series: A one-dimensional labeled array
# DataFrame: A two-dimensional labeled table (like an Excel sheet or SQL table)
# it is 2d tables with rows and colums
#If you're working with tables, spreadsheets, or CSVs in Pythonâ€”Pandas is your best friend.


# Why Use Pandas?
# Task	             Without Pandas	        With Pandas
# Load a CSV	     open() + loops	        pd.read_csv()
# Filter rows	    Custom loop logic	    df[df["col"] > 5]
# Group & summarize	Manual aggregation	    df.groupby()
# Merge two datasets  Nested loops	        pd.merge()

In [13]:
import pandas as pd
s =pd.Series([78,58,95,75,48,62,43,25,15],)
print(s)

0    78
1    58
2    95
3    75
4    48
5    62
6    43
7    25
8    15
dtype: int64

In [15]:
arr =pd.Series([78,58,95,75,48,],index=["first","second","third","fourth","fifth"])
print(arr)

first     78
second    58
third     95
fourth    75
fifth     48
dtype: int64

In [25]:
data = {
    "name": ["Pratham", "bhavin", "Rudra"],
    "age": [20, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}
df = pd.DataFrame(data)
print(df)

      name  age       city
0  Pratham   20      Delhi
1   bhavin   30     Mumbai
2    Rudra   35  Bangalore